Flask==3.1.1
flask_apscheduler==1.13.1
Flask_Login==0.6.3
flask_mail==0.10.0
Flask_Migrate==4.1.0
Flask_SocketIO==5.5.1
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
itsdangerous==2.2.0
locust
Requests==2.32.4
SQLAlchemy==2.0.43
stripe==12.3.0
Werkzeug==3.1.3
WTForms==3.2.1
gunicorn
psycopg2-binary