{% extends "base.html" %} {% from "_form_macros.html" import render_field %} {%
block content %}
<div class="form-container">
  <h2 class="form-title">Create First Site Admin</h2>
  <p class="form-subtitle">
    This page is for initial setup. If a site admin already exists, this form
    will be disabled.
  </p>
  <form
    method="POST"
    action="{{ url_for('auth.register_site_admin') }}"
    novalidate
  >
    {{ form.hidden_tag() }}
    <div class="form-fields">
      {{ render_field(form.full_name, class="form-input") }} {{
      render_field(form.email, class="form-input") }} {{
      render_field(form.password, class="form-input") }} {{
      render_field(form.confirm_password, class="form-input") }}
    </div>
    <div class="form-actions">
      {{ form.submit(class="btn btn-primary btn-block") }}
    </div>
  </form>
</div>
{% endblock %}
